black==22.12.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==7.1.2
colorama==0.4.6
docopt==0.6.2
idna==3.4
mypy-extensions==0.4.3
numpy==1.24.1
pathspec==0.10.3
platformdirs==2.6.2
pygame==2.1.2
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyqt5-tools==5.15.4.3.2
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.0
pyqtgraph==0.13.1
python-dotenv==1.0.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.28.2
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.14
yarg==0.1.9
